<div class="wrapper">

  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-50" data-background="<%= @project.photo %>" style="height: 596px; top: 10.45px; opacity: 0.968121; background-image: url('<%= @project.photo %>');">

  		<div class="hs-caption container">
  			<div class="caption-content">
  				<div class="hs-title-size-3 font-alt m-b-20">
  					<%= @project.title %>
  				</div>
  				<div class="hs-title-size-1 font-inc">
            <%= @project.tag_line %>
  				</div>
  			</div>
  		</div>

  </section>

  <section class="module-small">

		<div class="container">

			<div class="row">

				<div class="col-sm-6">

					<div class="work-details">
						<h3 class="work-details-title font-alt">Description</h3>
						<ul>
							<li class="font-inc"><strong>Client: </strong><%= @project.client %></li>
							<li class="font-inc"><strong>Date: </strong><%= @project.completed %></li>
							<li class="font-inc"><strong>Online: </strong><a href="<%= @project.url %>" target="_blank">view the application</a></li>
						</ul>
					</div>

				</div>

				<div class="col-sm-6">
					<%=raw @project.description %>
				</div>

			</div>

		</div>

	</section>

</div>
