<!DOCTYPE html>
<html>
  <head>
    <title>Kristin Donovan | Web Developer</title>
    <meta charset="utf-8">
    <meta property="og:url"           content="https://www.kristinydonovan.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Kristin Donovan | Web Development Professional" />
    <meta property="og:image"         content="http://i.imgur.com/RJjN6Rp.jpg" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'http://maps.google.com/maps-api-v3/api/js/25/8/common.js' %>
    <%= javascript_include_tag 'http://maps.google.com/maps-api-v3/api/25/8/util.js' %>
    <%= javascript_include_tag 'http://maps.google.com/maps-api-v3/api/25/8/stats.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

      <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">

  			<div class="container">

  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand" href="index.html"><img src="http://i.imgur.com/3lcjXXn.png" alt="Kristin Donovan" style="margin-top: -5px; margin-bottom: 15px; height: 35px;"/></a>
  				</div>

  				<div class="collapse navbar-collapse" id="custom-collapse">

  					<ul class="nav navbar-nav navbar-right">

              <li><a href="/pages/home">Home</a></li>
  						<li><a href="/pages/about">About</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/pages/tutoring">Tutoring</a></li>
              <li><a href="https://rubyisshiny.tumblr.com" target="_blank">Blog</a></li>
              <li><a href="/pages/contact">Contact</a></li>

  					</ul>
  				</div>

  			</div>

  	</nav>

    <%= yield %>

    <footer class="footer" style="background-color: #000;">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 text-center">
						<p class="copyright font-inc m-b-0">© 2016 KRISTIN DONOVAN, All Rights Reserved.</p>
					</div>

				</div>

			</div>

		</footer>

  </div>
  </body>
</html>
